@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #d3d3d3;
}

a,
p,
h1,
h2,
h3,
h4,
input {
  font-family: "Maven Pro", sans-serif;
}

h1,
h2 {
  font-family: "Cherry Swash", cursive;
}

.category {
  display: flex;
  border-top: solid 1px rgb(176, 176, 176);
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin: 0;
  padding-top: 25px;
  background: linear-gradient(
    352deg,
    rgba(241, 100, 0, 1) 43%,
    rgba(255, 157, 88, 1) 50%,
    rgba(241, 100, 0, 1) 57%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: #d3d3d3;
}

header h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: small;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  font-weight: 400;
}

h2 {
  padding: 20px;
  text-align: center;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.App {
  max-width: 1250px;
  margin: auto;
}

label {
  margin-right: 10px;
  color: white;
  font-size: small;
}

select {
  font-size: medium;
  height: 30px;
  background-color: rgb(221, 221, 221);
}

select:focus {
  outline: none;
}

.expenseForm,
.incomeForm {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
}

.addForm {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addButtons {
  width: 250px;
  text-align: center;
}

.formContainer {
  width: 100%;
  background: linear-gradient(
    352deg,
    rgb(166, 166, 166) 0%,
    rgb(69, 69, 69) 100%
  );
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: 10px;
}

header {
  text-align: center;
  background: linear-gradient(
    352deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(75, 75, 75, 1) 100%
  );
  height: 160px;
  border-bottom: solid 5px rgb(228, 80, 0);
}

footer {
  border-top: solid 1px rgb(176, 176, 176);
  text-align: center;
  padding: 30px;
}

hr {
  height: 0;
  border-top: 1px solid rgb(0, 0, 0);
}

button {
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

button:hover {
  background-color: rgb(241, 100, 0);
  color: rgb(255, 255, 255);
}

button:active {
  background-color: rgb(47, 47, 47);
  color: rgb(255, 255, 255);
}

.details {
  background-color: rgb(240, 240, 240);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  margin-bottom: 5px;
}

.listdetails {
  background: linear-gradient(
    155deg,
    rgb(249, 133, 50) 00%,
    rgba(241, 100, 0, 1) 57%
  );
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgb(204, 98, 5);
}

.detailsDate {
  width: 10%;
}

.detailsCategory {
  width: 20%;
}

.detailsDescription {
  width: 50%;
}

.detailsAmount {
  width: 10%;
}

.detailsButton {
  width: 10%;
  text-align: center;
}

.detailsDateInputInc {
  width: 12%;
}

.detailsCategoryInputInc {
  width: 20%;
}

.detailsDescriptionInputInc {
  width: 36%;
}

.detailsAmountInputInc {
  width: 10%;
}

.detailsButtonInputInc {
  width: 18%;
  text-align: right;
}

.detailsDateInputExp {
  width: 12%;
}

.detailsCategoryInputExp {
  width: 17%;
}

.detailsDescriptionInputExp {
  width: 34%;
}

.detailsAmountInputExp {
  width: 9%;
}

.detailsVatInputExp {
  width: 5%;
}

.detailsButtonInputExp {
  width: 18%;
  text-align: center;
}

input {
  background-color: rgb(221, 221, 221);
  height: 30px;
  padding: 5px;
  border: none;
  padding-left: 10px;
  font-size: medium;
}

input:focus {
  outline: solid 1px rgb(180, 180, 180);
}

.loginButton {
  max-width: 1250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin: auto;
  padding-top: 5px;
  height: 0px;
}

input,
select {
  width: 100%;
}

.inputIncDate {
  width: 15%;
}

.inputIncCategory {
  width: 15%;
}

.inputIncDescription {
  width: 35%;
}

.inputIncAmount {
  width: 10%;
}

.inputIncButtons {
  width: 20%;
  text-align: center;
}

.inputExpIncDate {
  width: 12%;
}

.inputExpCategory {
  width: 15%;
}

.inputExpDescription {
  width: 28%;
}

.inputExpAmount {
  width: 10%;
}

.inputExpVat {
  width: 6%;
}

.inputExpButtons {
  width: 20%;
  text-align: center;
}

.pagelink {
  width: 100%;
  padding: 15px;
  text-align: right;
}

.backbutton {
  height: 0px;
  width: 140px;
  margin: 0;
  padding: 0;
}

.backbutton h4 {
  padding-top: 20px;
}

[role="navigation"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.paging {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.paging a {
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.next a,
.previous a {
  color: rgb(0, 0, 0);
}

.selected a {
  color: rgb(241, 100, 0);
  font-size: x-large;
}
